# ======================================================================================
# Общие для Python
# ======================================================================================

# Скомпилированные в байт-код / оптимизированные / DLL файлы
__pycache__/
*.py[cod]
*$py.class

# C-расширения
*.so

# Дистрибутивы / пакеты
build/
dist/
sdist/
*.egg-info/
.eggs/

# ======================================================================================
# Виртуальные окружения
# ======================================================================================
.env
.venv
env/
venv/
ENV/
VENV/

# ======================================================================================
# Файлы IDE и редакторов
# ======================================================================================

# PyCharm
.idea/

# Visual Studio Code
.vscode/

# ======================================================================================
# Артефакты тестирования и покрытия
# ======================================================================================
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# ======================================================================================
# Логи и временные файлы
# ======================================================================================
*.log
app.log

# ======================================================================================
# Данные
# ======================================================================================
# Раскомментируйте следующую строку, если вы не хотите добавлять
# наборы данных в репозиторий. Это хорошая практика для больших файлов.
# datasets/

# ======================================================================================
# Jupyter Notebook
# ======================================================================================
.ipynb_checkpoints